<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chryl.mapper.JDateMapper">

    <select id="getAllData" resultType="map">
        SELECT * FROM j_date
    </select>
    <select id="insertData" parameterType="com.chryl.po.JDate">
        INSERT INTO j_date (j_date,j_datetime) VALUE (#{jd.jDate},#{jd.JDatetime})
    </select>

</mapper>